@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    color: #333;
}

// .no-sel {
//     -webkit-user-select: none; /* Chrome all / Safari all */
//     -moz-user-select: none; /* Firefox all */
//     -ms-user-select: none; /* IE 10+ */
//     user-select: none; /* Likely future */
// }

// <div class="pag__panel__wrapper">
// <label class="pag__panel">
//     <span class="pag__panel__text">Go to page</span>
//     <input class="pag__panel__input" type="text" />
//     <button class="pag__panel__btn"><svg class="pag__panel__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg></button>
// </label>
// <p class="pag__message">Pages 1 to 10</p>
// </div>

// <div class="pag__panel">
// <p class="pag__panel__message">Pages 1 to 10</p>

// <label>
//     <span>Go </span>
// </label>
// </div>
