.pag-wrapper {
    max-width: 75rem;
    margin: 5rem auto 10rem auto;
    padding: 2rem 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    border-radius: 1rem;
    background-color: #fff;
}

//

.pag {
    max-width: fit-content;
    margin: 0 auto;

    &__box {
        display: flex;
        justify-content: center;
    }

    &__btn:not(:last-child) {
        margin-right: 1rem;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        font-family: "Rubik", sans-serif;
        font-size: 1.7rem;
        font-weight: 400;
        color: #555;

        width: fit-content;
        height: 3.5rem;
        border: 0.2rem solid #ddd;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;

        cursor: pointer;
        transition: border 0.1s, transform 0.1s, box-shadow 0.1s;

        &__icon {
            width: 2rem;
            height: 2rem;
        }

        &--prev {
            padding-left: 0.5rem;
        }

        &--next {
            padding-right: 0.5rem;
        }

        &--active {
            background-color: #ff6b6b;
            box-shadow: none;
            border: 2px solid transparent;
            color: #fff;
        }

        &:hover,
        &:focus {
            outline: none;
            box-shadow: none;
            border: 0.2rem solid #bbb;
            color: #111;
        }

        &:active {
            transform: scale(0.9);
        }

        &--active:hover,
        &--active:focus {
            border: 0.2rem solid transparent;
            color: #fff;
        }

        &:disabled {
            cursor: default;
            color: #ccc;
            border: 0.2rem solid #eee;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
        }

        &:disabled:hover {
            border: 0.2rem solid #eee;
        }

        &:disabled:active {
            transform: scale(1);
        }

        &__num {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.5rem;
        }
    }

    &__panel {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &__label {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            margin-right: 1rem;
            font-size: 1.5rem;
        }

        &__input {
            width: 2.5rem;
            padding: 0.1rem 0.2rem;

            text-align: center;
            font-family: "Rubik", sans-serif;
            font-size: 1.4rem;
            font-weight: 400;
            color: #555;

            border: 0.2rem solid rgba(#ff8787, 0.7);
            border-radius: 0.4rem;
            margin: 0 0.3rem;

            transition: border 0.1s, box-shadow 0.1s;

            &:focus {
                outline: none;
                border: 0.2rem solid rgba(#ff8787, 1);
            }
        }

        &__btn {
            font-family: "Rubik", sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            color: #333;

            border: 0.1rem solid rgba(#ff8787, 0.7);
            border-radius: 0.4rem;
            padding: 0.2rem 0.8rem;
            background-color: #fff5f5;
            background-color: #fff;

            transition: border 0.1s, transform 0.1s, box-shadow 0.1s;
            cursor: pointer;

            &:hover,
            &:focus {
                outline: none;
                border: 0.1rem solid rgba(#ff8787, 0.9);
            }

            &:active {
                transform: scale(0.9);
            }
        }

        &__message {
            display: none;
        }
    }

    &__line {
        display: block;
        margin: 1.5rem auto;
        height: 0.1rem;
        background-color: #ddd;
        border-radius: 50%;
    }
}

@media (max-width: 50em) {
    .pag-wrapper {
        max-width: 100%;
        border-radius: 0;
    }
}
